{% extends "owner/base_generic.html" %}

{% block content %}
    <p>Lista de owners registrados</p>

    <div class="card-body">
        <a class="btn btn-success" href="{% url 'owner_create' %}">Crear Owner</a>
        <form action="" method="post"></form>

        <table class="table table-striped">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Descripción de Owner</th>
                <th scope="col">Acción</th>
            </thead>

            <tbody>
                {% for owner in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><p>{{ owner.nombre }} tiene {{ owner.edad }} años y es de {{ owner.pais }}</p></td>
                        <td>
                            <a class="btn btn-info" href="{% url 'owner_edit_vc' owner.id %}" role="button">Editar Owner</a>
                            <a class="btn btn-danger" href="{% url 'owner_delete_vc' owner.id %}" role="button">Eliminar Owner</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}
